body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa; 
}
.login-container {
    max-width: 900px;
    width: 100%;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.login-form {
    padding: 40px;
}
@media (max-width: 768px) {
    .login-image {
        min-height: 200px;
    }
}